#content {
        margin: 0px auto;
        text-align: center;
        }
p {
    font: 15px 'Open Sans', sans-serif;
    }
h1 {
    font-family: 'Quicksand', sans-serif; font-weight: 700; letter-spacing: 3px;
    color: #cc6600;
}
table {
    font: 15px 'Open Sans', sans-serif;
    border-spacing: 5px;
    margin: 0px auto;
    text-align: left;
    }
th{
    font-weight: 400;
    color: #660033;
}
td.col1 {
    color: rgb(66, 184, 221);
}
td.col3 {
    letter-spacing: 2px;
    font-weight: 600;
}
#btn {
    width: 11em;  height: 2em;
    background: rgb(66, 184, 221);
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
    border:none;
    }
#btn.warning {
    background: rgb(223, 117, 20);
    }
